body { background: #222; font: 12px/1.7em arial, sans-serif; margin: 75px; }

#index { width: 400px; margin-right:auto; margin-left:auto;margin-top: 60px; }

#index h1
{
	background: url(../images/index_logo.png) no-repeat 0 0;
	width: 500px;
	height: 90px;
	line-height: 800px;
	overflow: hidden;
	margin: 0 auto .75em;	
}

#index_panel
{
	background: #FFF;
	width: 400px;
	border: 1px solid #CCC;
	overflow: hidden;
	
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	
	-moz-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.6);
	box-shadow: 1px 1px 1px rgba(0,0,0,.6);
}

#index_panel .index_fields { padding: 22px 15px 15px; }
	#index_panel .index_fields input { width: 355px; }

#index_panel .field { margin-bottom: 1.75em; }
	#index_panel .field:last-child { margin-bottom: .85em; }
	
	#index_panel .field label { font-weight: bold; display: block; position: relative; } 	
		#index_panel .field label small { position: absolute; right: 0; top: -2px; }
			#index_panel .field label small a { color: #999; }

#index .index_actions { background: #E8E8E8; width: auto; padding: 15px; border-top: 1px dotted #CCC; }

#footer {margin-right:auto; margin-left:auto; margin-top:60px; color: white; text-align: center; font-family: Microsoft Yahei;font-size: 11px;}